/* 
    Document   : style
    Created on : Oct 27, 2012, 4:07:18 PM
    Author     : cwestrup
    Description:
        Stylesheet for bicyle routes site
*/

html { height: 100%; margin: 0; }
body { height: 100%; margin: 0; padding: 0; background-color: #3D414E;}
#header {
	height: 90px;
	width: 100%;
}
#headerwrapper {
	margin: 0 auto;
	padding: 7px 0;
	width: 940px;
}
#headerwrapper h1 {
	color: #ABE1B9;
	display: block;
	font-family: 'Chau Philomene One',sans-serif;
	font-size: 40px;
	font-weight: normal;
	margin: 10px 0;
	text-shadow: 2px 2px 2px #000000;
}
#topnavigation {
	background-color: #222940;
	height: 65px;
	width: 100%;
}
#topnavigationwrapper {
	margin: 0 auto;
	padding: 7px 0;
	width: 940px;
}
#content_canvas { width:100%; }
#map_canvas { height: 100%; width:100%;  height: 350px; position: absolute; z-index: 1}
#content {
	background-color: rgba(196, 213, 195, 0.5);
	width: 100%;
	height: 210px;
	z-index: 2;
	position: absolute;
	padding: 70px 0;
}
#search {  
	margin: 0 auto;
	width: 520px;
}
#content form input {
	-moz-box-sizing:border-box;box-sizing:border-box;
	background-color: #FFF;
	border: 1px solid #555;
	border-radius: 10px 10px 10px 10px;
	display: block;
	font-size: 18px;
	margin: 10px 5px 0;
	padding: 10px;
	font-family: 'Didact Gothic', Georgia, serif;
}
#content form input[type="search"] {
	box-shadow: 0px 0px 3px #FFFFFF, inset 1px 1px 1px #BBB;
	width: 500px;
	-moz-width: 480px;
}
#content form input[type="submit"] {
	box-shadow: 1px 1px 2px #666;
	width: 500px;
	cursor: pointer;
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}
#content form input.required {

}
#content form input.optional {
	background: #dcdcdc;	
}
#content form a#usedetectedposition {
	background: none repeat scroll 0 0 rgba(3, 3, 3, 0.32);
	border-color: #666666;
	border-image: none;
	border-radius: 0 0 5px 5px;
	border: 1px solid #666666;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	box-shadow: 0 0 2px #E4E4E4;
	color: #D0E5F8;
	display: block;
	font-family: verdana;
	font-size: 13px;
	margin: 0 15px 10px;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #222;
	width: 460px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
input[type=search] {
	outline: none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
